

#canvas {
    height: 600px;
    width: 600px;
    background-color: lightskyblue;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
   
}


.shape {
    position: static;
    cursor: pointer;
    float: left;
    margin: .5em;
}

#detail-pane{
    display: inline-block;
    width: 300px;
    margin: 0 30px;
    vertical-align: top;
}

.rectangle {
    background-color: green;
}

.square {
    background-color: red;
}

.triangle{
    border-width: 0;
    border-color: transparent;
    border-bottom-color: yellow;
    border-style: solid;
}

.circle {
    background-color: purple;
    border-radius: 50%;
}